.vscode/
/source/fixes/TorrenteWidescreenFix.cpp
/source/fixes/DieHardNakatomiPlazaFOVFix/.vs
.vs/
/source/fixes/DieHardNakatomiPlazaFOVFix/DieHardN.e9ee3b2a
/source/fixes/Hidden&DangerousDeluxeFOVFix/Hidden&D.d49c5c1e
