.vscode/
/source/fixes/TorrenteWidescreenFix.cpp
/source/fixes/DieHardNakatomiPlazaFOVFix/.vs
.vs/
.git/
/source/fixes/DieHardNakatomiPlazaFOVFix/DieHardN.e9ee3b2a
/source/fixes/Hidden&DangerousDeluxeFOVFix/Hidden&D.d49c5c1e
/source/fixes/AlcatrazPrisonEscapeFOVFix/.vs
/source/fixes/AlcatrazPrisonEscapeFOVFix/Alcatraz.af169fd0
/source/fixes/AtlantisTheLostEmpireTrialByFireFOVFix/.vs
/source/fixes/AtlantisTheLostEmpireTrialByFireFOVFix/Atlantis.5bdfe909
/source/fixes/AtlantisTheLostEmpireTrialByFireFOVFix/Debug
/source/fixes/AtlantisTheLostEmpireTrialByFireFOVFix/x64
/source/fixes/AtlantisTheLostEmpireTrialByFireFOVFix/Release
/source/fixes/AlcatrazPrisonEscapeFOVFix/Debug
/source/fixes/AlcatrazPrisonEscapeFOVFix/Release
/source/fixes/DieHardNakatomiPlazaFOVFix/Debug
/source/fixes/DieHardNakatomiPlazaFOVFix/Win32
/source/fixes/Hidden&DangerousDeluxeFOVFix/Release